header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#TitleText{
    font-family: 'Montez', cursive;
    margin: 0px 0px 2px 0px;
    color: blue;
}
#SubHeadingText{
    font-family: 'Ubuntu Mono';
    color: rebeccapurple;
}

#SignUpBtn,#SignInBtn{
    background-color: blue;
    color: white;
    margin: 3px 2px 0px 2px;
    text-align: center;
    width: 100px;
    height: 35px;
}



#SignInPageToggle{
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
}