#BlogHeading {
    text-align: center;
    font-weight: bold;
}

#BlogAuthor {
    font-family: 'Niconne', cursive;
    font-size: 30px;
}

.PostAuthor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.EditSaveButton {
    min-width: 100px;
    max-width: 150px;
    background-color: deeppink;
    color: white;
    text-align: center;
    max-height: 50px;
}

.PostContent {
    text-align: justify;
    font-size: 12px;
}

.ModalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.PostBlogLayout {
    margin-right: 75px;
    margin-left: 75px;
}

#likeBlog {
    background-color: deeppink;
    min-width: 100px;
    max-width: 150px;
    max-height: 50px;
    color: white;
}

#likeCount {
    margin-top: 10px;
    margin-bottom: 10px;
}

#CommentBtn {
    background-color: deeppink;
    min-width: 100px;
    max-width: 150px;
    max-height: 50px;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

#AllCommentTxt {
    font-size: larger;
}

#AllComments {
    padding: 10px 20px 5px 20px;
    background-color: lightgrey;
    width: 60%;
}

.Comment {
    display: block;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    height: 60px;
}

.CommentText {
    margin: 0px;
    padding: 11px 0px 11px 5px;
}

#NewComment {
    width: 60%;
    height: 100px;
}